In [59]:
import pandas as pd
import tensorflow as tf
from keras.models import load_model
import numpy as np
import pickle

In [60]:
model = load_model('model.h5')

with open('label_encoder_gender.pkl', mode='rb') as file:
    label_encoder_gender = pickle.load(file)

with open('oneHot_geo.pkl',mode='rb') as file:
    oneHot_geo = pickle.load(file)

with open('standard_scaler.pkl', mode='rb') as file:
    scaler = pickle.load(file)

In [61]:
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [62]:
geo_encoded = oneHot_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded = pd.DataFrame(geo_encoded,columns=oneHot_geo.get_feature_names_out(['Geography']))
geo_encoded

c:\Users\shash\.conda\envs\flaskenv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [63]:
input_data = pd.DataFrame([input_data])

In [64]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [65]:
input_data['Gender'] = label_encoder_gender.transform(input_data['Gender'])

In [66]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [67]:
input_df = pd.concat([input_data,geo_encoded],axis=1)

In [68]:
input_df = input_df.drop('Geography',axis=1)

In [69]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [70]:
input_scaled = scaler.transform(input_df)

In [71]:
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [74]:
model_pred = model.predict(input_scaled)

1/1 [==============================] - 0s 44ms/step

In [76]:
chrunk = model_pred[0][0]

In [77]:
if chrunk >0.5:
    print("Customer is likely to chrunk")
else:
    print("Customer wont chrunk")

Customer wont chrunk